body
{
    background-color:#68b9ff;
    color: rgb(18, 2, 109);
}
nav
{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}
footer
{
    text-align: center;
    margin-right: 200px;
}
img
{
    margin-right: 200px;
}
h1
{
    text-align: center;
}